/* // typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

h2 {
    color: #343C6A;
    font-size: 22px;
}


/* // main */
.dashboard {
    all: unset;
}


.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.manu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 250px;
    flex: 1;
    border-right: 1px solid #E6EFF5;
    gap: 5px;
    position: sticky;
    top: 0px;

}


.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    height: 100px;
    background-color: #ffffff;
}


.main__conteiner {
    display: flex;
    justify-content: center;
    background-color: #E6EFF5;
    flex: 1;
}

.content {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* //manu wrapper */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}


.manu__list {
    height: 537px;
    width: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manu__item {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding-left: 30px;
    margin: 0px;
    color: #B1B1B1;
}

.manu__item--box {
    all: unset;
    display: flex;
    align-items: center;
    gap: 25px;
    color: #1814F3;
}
.manu__item--box:hover {
    cursor: pointer;
}

.manu__icon {
    width: 6px;
    height: 60px;
    background-color: #1814F3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* //header */
.header__search__img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
}

.search {
    background-color: #F5F7FA;
    border: none;
}

.search__box {
    display: flex;
    align-items: center;
    width: 255px;
    height: 50px;
    border-radius: 40px;
    background-color: #F5F7FA;
    padding-left: 20px;
    gap: 5px;
}


/* //hovre */
.search__box:hover {
    cursor: pointer;
}

.header__img:hover {
    cursor: pointer;
}

.manu__item:hover {
    cursor: pointer;
    color: #1814F3;
}

.cards__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 730px;
    height: 282px;
}


.h2 {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards__recent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards__box {
    display: flex;
    justify-content: space-between;
}

.cards__wrapper {
    width: 350px;
    height: 235px;
    border-radius: 25px;
}

.cards__wrapper--blue {
    background-color: #1814F3;
    padding: 20px;
    color: #ffffff;
}

.cards__wrapper--blue:hover {
    cursor: pointer;
    width: 353px;
    height: 237px;
}

.cards__wrapper--whits:hover {
    cursor: pointer;
    width: 353px;
    height: 237px;
}

.cards__wrapper--whits {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__wrapper--whitswrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.cards__item {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.recent__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #0000002f;
}

.recent {
    display: flex;
    gap: 45px;
    color: #718EBF;
    font-size: 16px;
}

.all__button {
    color: #1814F3;
    font-size: 16px;
}

.all__icon {
    width: 145px;
    height: 3px;
    background-color: #1814F3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.all__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table th {
    display: flex;
    color: #718EBF;
    font-size: 16px;
    text-align: start;
}


tbody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__header {
    display: flex;
    justify-content: space-around;
    width: 1050px;
    height: 19px;
}


table tr {
    display: flex;
    align-items: center;
    width: 1050px;
    height: 35px;
    justify-content: space-between;
    border-bottom: 1px solid #E6EFF5;
}


table td {
    display: flex;
    align-items: center;
}


.table__imgtex {
    display: flex;
    align-items: center;
    gap: 10px;
}


.table {
    max-width: 1110px;
    width: 100%;
    height: 397px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 25px;
}

.download__button {
    width: 100px;
    height: 35px;
    border: 1px solid #123288;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #123288;
}

.table__color__red {
    color: #FE5C73;
}

.table__color__green {
    color: #16DBAA;
}

@media screen and (max-width:762px) {
    .manu {
        height: 20px;
    }

    .main {
        flex-direction: column;
    }

}